h1{
    border: 2px solid black;
    width: 50%;
}

#outer{
    width: 400px;
    height: 400px;
    background-color: pink;
    margin: 50px;
    font-size: 15px;
    padding: 1em;
    
}

#inner{
    height: 100px;
    width:100px;
    background-color: blue;
    font-size: 3em;
    padding: 1em;

}

section{
    font-size: 18px;
}
section div{
    font-size: 2rem;
}